#authenticator{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#authenticator-content{
    width:100%;
    padding: 20px;;
}

button{
    margin: 10px;
}

input{
    width: 100%;
    margin: 5px;
    padding: 10px 5px;
    border-radius: 5px;
    border: 1px solid;
}