#post-button{
    position: fixed;
    bottom: 25px;
    right: 25px;

}

#postfeed-sub{
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

#postfeed{
    width: 100%;
    height: 100%;
    min-height: 600px;
    /* background-image: url('src/assets/background.jpg');
    background-size: cover;
    background-repeat: repeat-y;
    background-position: center; */
    /* display: grid;
    /* grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%; */
}

#nav{
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 50px;
    z-index: 10;
}

#nav-content{
    background-color: burlywood;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
}

#nav-left, #nav-right{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 10px;
}

#nav-left{
    font-size: 20px;
}
#nav-right{
    justify-content: flex-end;
}

.nav-items{
    cursor: pointer;
    margin-right: 20px;
}
