<mat-paginator [pageSize]="10" [length]="totalElements" (page)="nextPage($event)"> </mat-paginator>

<div id="postfeed">
    <div id="postfeed-sub">
        <br>
        <app-displaypost *ngFor="let p of posts" [post]="p"></app-displaypost>
        <br>
    </div>
</div>

<button (click)="onCreatePostClick()" mat-fab color="warn" id="post-button">
    <mat-icon>add</mat-icon>
</button>