<mat-card>
    <mat-card-header>
        <mat-card-title>{{postData?.createId}}</mat-card-title>
        <mat-card-subtitle>Description</mat-card-subtitle>
    </mat-card-header>
        <img mat-card-image src="{{postData?.imageUrl}}">
        <mat-card-content>
            {{postData?.comment}}
        </mat-card-content>
        <mat-card-actions>
            <mat-icon class="action-item" color="warn">chat_bubble_outline</mat-icon>
            <mat-icon class="action-item" color="warn">favorite_border</mat-icon>
            <mat-icon class="action-item" color="warn">save</mat-icon>
        </mat-card-actions>
    
</mat-card>