<mat-card id="post-card">
    <div (click)="onComponentClick(post.id)">
        <mat-card-header>
            <mat-card-title>{{post.title}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="http://localhost:8080/api/downloadFile/{{post.id}}"
            onerror="this.style.display='none'" />

        <mat-card-content>
            <a href="{{post.hyperlink}}" target=”_blank”>{{post.hyperlink}}</a>
            <br>
            <p>{{post.caption}}</p>
            <br>
            <p>Views: {{post.views}}</p>

        </mat-card-content>
    </div>
    <div>
        <mat-card-actions *ngIf="isAdmin">
            <!-- <mat-icon class="action-item" color="warn">chat_bubble_outline</mat-icon>
                <mat-icon class="action-item" color="warn">favorite_border</mat-icon>
                <mat-icon class="action-item" color="warn">save</mat-icon> -->
            <a class="btn btn-primary" (click)="onUpdateClick(post.id)">Update</a>
            <a href="/postfeed" routerLink="postfeed" class="btn btn-danger" (click)="onDeleteClick(post.id)">Delete</a>
        </mat-card-actions>
    </div>


</mat-card>