#profile{
    position: fixed;
    height: 100%;
    top: 0;
    right: 0;
    background-color: lightgrey;
    transition-duration: 0.6s;
    display: flex;
    justify-content: center;
    align-items: center;
}
#profile-content{
    width:100%;
    max-width: 300px;
    padding: 30px;
    
}

input, textarea{
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 8px;
    border: 1px solid gray;
}

.active{
    width: 100vw;
}

.idle{
    width: 0;
}