<div id="profile" [ngClass]="{'active':show,'idle':!show}">
    <div id="profile-content">
        <input #nameInput placeholder="Name">
        <textarea #descriptionInput placeholder="Description"></textarea>
        <button mat-flat-button color="warn" (click)="onContinueClick(nameInput,descriptionInput)">Continue</button>
    </div>
</div>