<div id="homepage">
    <div id="homepage-sub">
        <div id="left">
            <div id="left-content">
                <h1>TheNewSocial</h1>
                <p *ngIf="isLoggedIn">Welcome, {{ username }}</p>
                <p *ngIf="!isLoggedIn">This is the newest sharing platform.</p>
                <button mat-flat-button color="accent" (click)="registerClick()" *ngIf="!isLoggedIn">Register</button>
            </div>
        </div>
    </div>
</div>