<div id="nav">
    <div id="nav-content">
        <div id="nav-left">
            <div class="nav-items">
                MyAppName
            </div>
        </div>
        <div id="nav-right">
            <div *ngIf="!loggedIn()" class="nav-items" (click)="loginClick()">        
                Login
            </div>
            <div *ngIf="loggedIn()" class="nav-items" (click)="onLogoutClick()">        
                Logout
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>
<!-- <app-profile [show]="loggedIn()"></app-profile> -->
