#nav{
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 50px;
    z-index: 10;
}

#nav-content{
    background-color: burlywood;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
}

#nav-left, #nav-right{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 10px;
}

#nav-left{
    font-size: 20px;
}
#nav-right{
    justify-content: flex-end;
}

.nav-items{
    cursor: pointer;
}