<div id="homepage">
    <div id="homepage-sub">
        <div id="left">
            <div id="left-content">
                <h1>Social Media Platform</h1>
                <p>Welcome to the newest sharing platform.</p>
                <button mat-flat-button color="accent" (click)="getStarted()">Get Started!</button>
            </div>
        </div>
    </div>
</div>