#homepage{
    width: 100%;
    height: 100%;
}

#homepage-sub{
    width: 100%;
    height: 100%;
    min-height: 600px;
    background-image: url('src/assets/background.jpg');
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
}

#left{
    display: flex;
    color: black;
    justify-content: center;
    align-items: center;
}

#left-content{
    text-align: right;
    padding: 20px 20px 40px;
}

#left-content h1{
    font-size: 40px;
}

#left-content p{
    font-size: 18px;
}

#left-content button{
    font-size: 20px;
    padding: 10px 20px;
}