
<div id="background">
    <br>
<br>
<div class="container">
    <div class="row">
        <h1> List of All Users </h1>
    </div>

    <div class="row">
        <!-- <div class="col-lg-3">
            <a th:href = "@{/students/new}" class="btn btn-primary btn-sm mb-3"> Add Student</a>
           
        </div> -->
    </div>
    <table class="table table-bordered table-hover">
        <thead class="table-success">
            <tr>
                <!-- <th> User ID</th> -->
                <th>Username</th>
                <th>User Email </th>
                <th> Actions </th>
            </tr>
        </thead>

        <tbody *ngFor="let u of users.content">
            <tr *ngIf="u.id!=1">
                <!-- <td>{{u.id}}</td> -->
                <td>{{u.username}}</td>
                <td>{{u.email}}</td>
                <td>
                    <a class="btn btn-primary" (click)="openUpdateClick(u.id)">Update</a>
                    <a href="/admin" routerLink="admin" class="btn btn-danger" (click)="onDeleteClick(u.id)">Delete</a>
                </td>
            </tr>
        </tbody>

    </table>

</div>
</div>