<div>
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Update User
            </mat-card-title>
        </mat-card-header>
        <div>
            <input #usernameInput placeholder="Type username..." />
        </div>
        <br>
        <div>
            <input #emailInput placeholder="Type email..." />
        </div>
        <!-- <div id="post-preview">
        <img id="post-preview-image">
    </div> -->
        <mat-card-actions align="end">
            <!-- <button mat-button>
            <label>
                <input #photoSelector (change)="onPhotoSelected(photoSelector)" id="photo-upload" type="file"
                    accept="image/*">
                <mat-icon>insert_photo</mat-icon>
            </label>
        </button> -->
            <button (click)="onUpdateClick(usernameInput,emailInput)" mat-flat-button color="warn">Update</button>
        </mat-card-actions>
    </mat-card>
</div>