<mat-card>
    <mat-card-header>
        <mat-card-title>
            Create post
        </mat-card-title>
    </mat-card-header>
    <div>
        <textarea #commentInput placeholder="Type text..."></textarea>
    </div>
    <div id="post-preview">
        <img id="post-preview-image">
    </div>
    <mat-card-actions align="end">
        <button mat-button>
            <label>
                <input #photoSelector (change)="onPhotoSelected(photoSelector)" id="photo-upload" type="file" accept="image/*">
                <mat-icon>insert_photo</mat-icon>
            </label>
        </button>
        <button (click)="onPostClick(commentInput)" mat-flat-button color="warn">Post!</button>
    </mat-card-actions>
</mat-card>