<mat-card>
    <mat-card-header>
        <mat-card-title>
            Create post
        </mat-card-title>
    </mat-card-header>
    <div>
        <input #titleInput placeholder="Type title..." />
    </div>
    <br> 
    <div>
        <input #hyperlinkInput type="url" placeholder="Optional hyperlink..." />
    </div>
    <br>
    <div>
        <textarea #captionInput placeholder="Type caption..."></textarea>
    </div>
    <div id="post-preview">
        <img id="post-preview-image">
    </div>
    <mat-card-actions align="end">
        <button mat-button>
            <label>
                <!--   -->
                <input (change)="onPhotoSelected(photoSelector)" #photoSelector id="photo-upload" type="file"
                    accept="image/*">
                <mat-icon>insert_photo</mat-icon>
            </label>
        </button>
        <button (click)="onSubmitPostClick(titleInput, captionInput, hyperlinkInput)" mat-flat-button color="warn">Post!</button>
    </mat-card-actions>

    <!-- <div>
        <mat-form-field>
            <div>
                <mat-toolbar>
                    <input matInput [value]="fileName" />

                    <button mat-flat-button color="primary" [disabled]="!selectedImageFile" (click)="upload()">
                        Upload
                    </button>
                </mat-toolbar>

                <input type="file" id="fileInput" (change)="onPhotoSelected(photoSelector)" name="fileInput" />
            </div>
        </mat-form-field>
    </div> -->

    <div *ngIf="message" class="message">
        {{ message }}
    </div>
</mat-card>