#photo-upload{
    display: none;
}

#post-preview{
    text-align: right;
    margin-top: 15px;
}

#post-preview-image{
    object-fit: cover;
    object-position: center;
    width:80px;
    height: 70px;
    border-radius: 15px;
    border: 1px dotted orange;
}
