<mat-card>
    <mat-card-header>
        <mat-card-title>
            Update post
        </mat-card-title>
    </mat-card-header>
    <div>
        <input #titleInput placeholder="Type title..." />
    </div>
    <br> 
    <div>
        <input #hyperlinkInput type="url" placeholder="Optional hyperlink..." />
    </div>
    <br>
    <div>
        <textarea #captionInput placeholder="Type caption..."></textarea>
    </div>
    <div id="post-preview">
        <img id="post-preview-image">
    </div>
    <mat-card-actions align="end">
        <!-- <button mat-button>
            <label>
                
                <input (change)="onPhotoSelected(photoSelector)" #photoSelector id="photo-upload" type="file"
                    accept="image/*">
                <mat-icon>insert_photo</mat-icon>
            </label>
        </button> -->
        <button (click)="onUpdateClick(titleInput, hyperlinkInput, captionInput)" mat-flat-button color="warn">Update</button>
    </mat-card-actions>


</mat-card>