<!-- <div id="nav">
    <div id="nav-content">

        <div id="nav-left">
            <div class="nav-items">
                TheNewSocial 
            </div>
            <div *ngIf="isLoggedIn" >
                <button mat-flat-button><a href="/home" routerLink="home">Home </a></button>
            </div>
        </div>
        <div id="nav-right">
            <div *ngIf="!isLoggedIn" class="nav-items" (click)="loginClick()">
                Login
            </div>
            <div *ngIf="isLoggedIn" class="nav-items" (click)="logoutClick()">
                Logout
            </div>
        </div>
    </div>
</div> -->
<div id="app">
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <a href="/home" class="navbar-brand">TheNewSocial</a>
        <ul class="navbar-nav mr-auto" routerLinkActive="active">
            <!-- <li class="nav-item">
                <a href="/home" class="nav-link" routerLink="home">Home </a>
            </li> -->
            <!-- <li class="nav-item" *ngIf="showAdminBoard">
                <a href="/admin" class="nav-link" routerLink="admin">Admin Page</a>
            </li> -->
            <li class="nav-item">
                <a href="/postfeed" class="nav-link" *ngIf="isLoggedIn" routerLink="postfeed">View Feed</a>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
            <li class="nav-item">
                <button mat-flat-button color="accent" (click)="loginClick()">Login</button>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
            <li class="nav-item" *ngIf="showAdminBoard">
                <a href="/admin" class="nav-link" routerLink="admin">Admin Page</a>
            </li>
            <li class="nav-item" *ngIf="!showAdminBoard">
                <a href="/userfeed"class="nav-link" routerLink="userfeed">{{ username }}</a>
                <!-- href="/profile" class="nav-link" routerLink="profile" -->
            </li>
            <li class="nav-item">
                <a href="/home" class="nav-link" (click)="logoutClick()" routerLink="home">LogOut</a>
            </li>
        </ul>
    </nav>
</div>


<router-outlet></router-outlet>