<div id="authenticator">
    <mat-card id="authenticator-content">
        <mat-card-header>
            <mat-card-title>{{getStateTextHeading()}}</mat-card-title>
        </mat-card-header>

        <div *ngIf="isLoginState()">
            <input #loginEmail type="text" placeholder="Email">
            <input #loginPassword type="password" placeholder="Password">
            <button (click)="onLoginClick(
                loginEmail,
                loginPassword
            )" mat-flat-button color="warn">
                Login
            </button>
        </div>
        <div *ngIf="isRegisterState()">
            <input #registerEmail placeholder="Email">
            <input #registerPassword placeholder="Password" type="password">
            <input #registerConfirmPassword placeholder="Confirm Password" type="password">
            <button (click)="onRegisterClick(
                registerEmail,
                registerPassword,
                registerConfirmPassword
            )" mat-flat-button color="warn">
                Register
            </button>
        </div>
        <div *ngIf="isForgotState()">
            <input #resetEmail placeholder="Email">
            <button (click)="onForgotClick(resetEmail)" mat-flat-button color="warn">
                Reset password
            </button>
        </div>

        <mat-card-actions align="end">
            <button mat-flat-button (click)="forgotPage()">Forgot password</button>
            <button mat-flat-button (click)="registerPage()">Create a new account</button>
            <button mat-flat-button (click)="loginPage()">Login</button>
        </mat-card-actions>
    </mat-card>
</div>