#post-button{
    position: fixed;
    bottom: 25px;
    right: 25px;

}

#postfeed-sub{
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

#postfeed{
    width: 100%;
    height: 100%;
    min-height: 600px;
    /* background-image: url('src/assets/background.jpg');
    background-size: cover;
    background-repeat: repeat-y;
    background-position: center; */
    /* display: grid;
    /* grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%; */
}